@value makerBlue, makerWhite from '../../common/colors.css';

.search{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    margin-bottom: 1em;
    max-width:29rem;
    width: 98%;
    height: 2rem;
    border: none;
    outline: none;
    padding: 0 0.5em;
    font-size: 1rem;
}