@value makerWhite, makerBlack, makerPaleGray,makerLightGray from '../../common/colors.css';

.addForm{
    max-width: 30rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9.5rem;
    background-color: makerWhite;
    cursor: pointer;
    color: makerPaleGray;
    font-size: 4rem;
    border-radius: 2px;
}
.addForm:hover{
    opacity: 70%;
}
