@value makerWhite, makerLightGray from '../../common/colors.css';

.form{
    max-width: 30rem;
    margin: 1em auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-top: 1px solid makerLightGray;
    border-left: 1px solid makerLightGray;
}
.input,.textarea,.select,.button,.file{
    font-size: 0.8rem;
    width: 100%;
    border:0;
    padding:0.5em;
    border-bottom: 1px solid makerLightGray;
    border-right: 1px solid makerLightGray;
    background:makerWhite;
}
.input,.select{
    flex: 1 1 30%;
}
.file{
    padding: 0;
    display: flex;
    flex: 1 1 50%;
}
.return,.gallery{
    padding: 1em;
}
.return:hover,.gallery:hover{
    background-color: makerPaleGray;
}
.input:focus,
.textarea:focus,
.select:focus,
.button:focus{
    outline:0;
}
.textarea{
    flex-basis:100%;
}