@value makerWhite,makerBlack,makerPaleGray,makerLightGray from '../../common/colors.css';

.form{
    display: flex;
    max-width: 30rem;
    flex-wrap: wrap;
    border-top: 1px solid makerLightGray;
    border-left: 1px solid makerLightGray;
    margin: 1em auto;
}
.input,.textarea,.select,.button,.file{
    font-size: 0.8rem;
    width: 100%;
    border:0;
    padding:0.5em;
    border-bottom: 1px solid makerLightGray;
    border-right: 1px solid makerLightGray;
    background:makerWhite;
    outline:none;
}
.input,.select{
    flex: 1 1 30%;
}
.file{
    padding: 0;
    display: flex;
    flex: 1 1 50%;
}
.return,.gallery{
    padding: 1em;
    color: makerBlack;
    background-color: makerWhite;
}
.return:hover,.gallery:hover{
    background-color: makerPaleGray;
}
.textarea{
    flex-basis:100%;
}