@value makerDarkBlue,makerLightGray from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';
.editor{
    overflow-y: auto;
    flex-basis: 50%;
    border-right: 1px solid makerLightGray;
    padding: 0.5em 2em;
}
.title{
    margin: 0.6em 0 0.8em 0;
    font-family: 'Pangolin', cursive;
    text-align: center;
    color:makerDarkBlue;
}
@media screen and (max-width:mediaQuery){
    .editor{
        border-bottom: 1px solid makerLightGray;
        border-right: none;
    }
}

@media screen and (max-width:mediaQuery){
    .editor{
        overflow-y:visible;
    }
}