@value makerWhite,makerBlue,makerLightBlue from '../../common/colors.css';

.avatarPicker{
    background-color: rgba(68, 68, 68, 0.774);
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    cursor: pointer;
    margin:0.5em;
    transition: all ease-in 150ms;
}
.avatar:hover,.selected{
    box-shadow: 0px 0px 6px 4px rgb(153, 211, 245);
}
.avatarBox{
    padding: 1em;
    border-radius: 1em;
    background-color: makerWhite;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.palette{
    display: flex;
    align-items: center;

}

.palette div{
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 50%;
}
.white{
    background-color: white;
    
}
.sky{
    background-color: rgb(148, 185, 197);
}
.gray{
    background-color: rgb(144, 146, 150);
}
.orange{
    background-color: rgb(255, 163, 57);
}
.green{
    background-color: rgb(155, 161, 59);
}
.pink{
    background-color: rgb(233, 146, 160);
}
.btn:nth-of-type(1){
    margin-left: 2em;
}
.btn{
    padding:0.5em 1.2em;
    border-radius: 0.5em;
    background-color: makerLightBlue;
    margin: 0 0.5em;
    color:makerWhite;
    font-size: 1rem;
    letter-spacing: 2.5px;
}
.btn:hover{
    background-color: makerBlue;
}
