@value makerShadow, makerWhite, makerDark, makerColored, makerLight, makerWheat from '../../common/colors.css';
.card{
    display:flex;
    align-items: center;
    margin-bottom: 0.5em;
    border-radius: 1em;
    padding: 0.5em 0;
    box-shadow:6px 6px 8px 0px makerShadow;
    max-width: 30rem;
    width: 100%;
}
.card.dark{
    background-color: makerDark;
    color: makerWhite;
}
.card.light{
    background-color:makerLight;
    color:makerBlack;
}
.card.colorful{
    color: makerWhite;
    background: makerColored;
}

.avatar{
    width:35%;
    margin: 0.5em 1.5em 0.5em 1em;
    border-radius: 50%;
}
.info{
    width: 100%;
}
.info *{
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 0.2em;
}
.name{
    font-size: 1.2rem;
}
.company{
    margin-bottom: 1em;
}
.company::after{
    content:'';
    display: block;
    height:2px;
    width:85%;
    background-color:makerWheat;
    transform: translateY(0.5em);
}
.white{
    background-color: white;
}
.sky{
    background-color: rgb(133, 165, 202);
}
.gray{
    background-color: rgb(144, 146, 150);
}
.orange{
    background-color: rgb(255, 163, 57);
}
.green{
    background-color: rgb(155, 161, 59);
}
.pink{
    background-color: rgb(233, 146, 160);
}