@value makerLightGray from '../../common/colors.css';

.container{
    width: 100%;
    height:100%;
    display: flex;

}
.btn{
    width: 100%;
    background-color: makerLightGray;
    font-weight: bold;
    font-size: 0.8rem;
    outline: none;
    border:none;
    cursor: pointer;
}
.input{
    display: none;
}
.btn:hover{
    opacity:0.8;
}