@value makerBlue, makerWhite from '../../common/colors.css';
@value mediaTablet from '../../common/size.css';

.header{
    width:100%;
    text-align: center;
    padding:0.7em;
    background-color: makerWhite;
    position:relative;
}
.logo{
    width:3em;
}
.title{
    font-family: 'Lobster', cursive;
    margin:0;
    color:makerBlue;
}
.logout{
    position: absolute;
    font-size: 0.7rem;
    right:3em;
    top:1em;
    padding:0.8em 1.5em;
    border-radius: 1rem;
}