@value makerWhite, makerGreen from '../../common/colors.css';

.footer{
    width:100%;
    text-align: center;
    background-color: makerGreen;
}

.title{
    color: makerWhite;
    margin: 0;
    padding: 1em;
}