@value makerBlue,makerBlack, makerShadow, makerWhite from '../../common/colors.css';

.background{
    background-color: rgb(138, 138, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
}
.title{
    color:makerBlue;
    font-size: 2rem;
    margin: 1em 0 0 0 ;
    letter-spacing: 10px;
}
.title,.button{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.login{
    border-radius: 10px;
    width:25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: makerWhite                                                    ;
    box-shadow:6px 6px 8px 0px gray;
}
.list{
    width:100%;
    display:flex;
    flex-direction: column;
    list-style: none;
    padding: 0.5em;
}
.item{
    margin-bottom: 0.5em;
}
.button{
    color:makerBlack;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: makerWhite;
    width:60%;
    height:2.5em;
    font-size:1.2rem;
    cursor: pointer;
    border-radius: 1.2rem;
    box-shadow:6px 6px 8px 0px makerShadow;
    outline:0;
    line-height: 2rem;
}
.button:hover{
    background-color: white;
}
.logo{
    width:2rem;
    height:2rem;
    margin-right: 0.3em;
}