@value makerGray,makerShadow from  './common/colors.css';

*{
    box-sizing: border-box;
}
.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}