@value makerWhite,makerGray from '../../common/colors.css';
@value mediaPC from '../../common/size.css';

.maker{
    width:100%;
    height:100%;
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 234, 238);
    box-shadow:0px 0px 40px 9px gray;
}
::-webkit-scrollbar{
    width: 0.3rem;
  }
  ::-webkit-scrollbar-thumb{
    background-color:makerWhite;
    border-radius: 0.3rem;
    
  }
.container{
    overflow-y: hidden;
    display: flex;
    flex:1; 
}

@media screen and (max-width:mediaPC){
  .container{
      flex-direction: column;
      overflow-y: auto;
  }
}

