@value makerWhite,makerGray from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.maker{
    width:100%;
    height:100%;
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    background-color: makerWhite;
    box-shadow:0px 0px 40px 9px makerGray;
}
.container{
    overflow-y: hidden;
    display: flex;
    flex:1; 
    /* flex:1 = flex:1 1 0 */
    /* flex-basis : 0;   ➜ The div does not have a starting value as such and will 
                     take up screen as per the screen size available for
                     e.g:- if 3 divs are in the wrapper then each div will take 33%. */
}

@media screen and (max-width:mediaQuery){
.container{
    flex-direction: column;
    overflow-y: auto;
}
}

